<%
var cssPart={
%>

${memberCssSection!}

<%};%>

<%
var jsPart = {
%>

<script type="text/javascript">
    $(".lnav a").each(function () {
        $this = $(this);
        if ($this[0].href == String(window.location)) {
            $this.parent().addClass("lncur");
        }
    });
</script>
<script type="text/javascript">
    function alertinfo(id) {
        //显示弹出层
        var obj = document.getElementById(id);
        var W = screen.width; //取得屏幕分辨率宽度
        var H = screen.height; //取得屏幕分辨率高度
        var yScroll; //取滚动条高度
        if (self.pageYOffset) {
            yScroll = self.pageYOffset;
        } else if (document.documentElement && document.documentElement.scrollTop) {
            yScroll = document.documentElement.scrollTop;
        } else if (document.body) {
            yScroll = document.body.scrollTop;
        }
        //obj.style.marginLeft= (W/2 - 200) + "px";
        obj.style.top = (H / 2 - 90 - 225 + yScroll) + "px";
        document.getElementById("bg").style.display = "block";
        obj.style.display = "block";
        var scrollstyle = scrolls();
        scrollstyle.style.overflowX = "hidden";
    }
    function closediv(id) {
        //关闭弹出层
        document.getElementById(id).style.display = "none";
        document.getElementById("bg").style.display = "none";
        var scrollstyle = scrolls();
        scrollstyle.style.overflowY = "auto";
        scrollstyle.style.overflowX = "hidden";
    }
    function scrolls() {
        //取浏览器类型
        var temp_h1 = document.body.clientHeight;
        var temp_h2 = document.documentElement.clientHeight;
        var isXhtml = (temp_h2 <= temp_h1 && temp_h2 != 0) ? true : false;
        var htmlbody = isXhtml ? document.documentElement : document.body;
        return htmlbody;
    }
</script>
${memberJsSection!}
<%};%>

<%
layout("/master.html",{title:membercentertitle,jsSection:jsPart}){
%>
<div class="hmainbg">
    <div class="hymain">
        <div class="hleft">
            <div class="ltbox">我的账户</div>
            <div class="lnav">
                <ul>
                    <li><a href="membercenter/index">会员中心</a></li>
                    <li><a href="membercenter/order">交通违法订单</a></li>
                    <li><a href="membercenter/info">个人信息管理</a></li>
                    <li><a href="membercenter/money">资金动向</a></li>
                    <li><a href="membercenter/authentication">实名认证</a></li>
                    <li><a href="membercenter/updatepwd">重置密码</a></li>
                </ul>
            </div>
        </div>
        <div class="hright">
            <div class="rtbox">${membercentertitle!}</div>
            <div class="rcon">
                ${layoutContent}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%
}
%>
